<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="container">
    <div class="m12 text-center"><%= link_to 'Projects', user_projects_path(@user) %>
    </div>
  </div>
</div>