<% provide(:title, @project.name) %>
<h1>This is  <%= @project.name%> project</h1>
<div class="row">
  <div class="container">
      <p><strong>Task name:</strong> <%= @project.task_name %></p>
  </div>
</div>