<% provide(:title, @project.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @project.name %>
        <%= @project.task_name %>
      </h1>
    </section>
  </aside>
</div>